
.loader {
    position: fixed;
    inset: 0;
    /* background: white; */
    /* or transparent / white */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


.loader-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}


.lottie {
    width: 180px;
    height: 180px;
}