.manage-tour-page{
    margin: 20px;
}
.page-header>h1{
    margin-bottom: 20px;
}
.back-btn{
    padding: 9px;
    border: none;
    background-color: #384a90;
    color: white;
    border-radius: 20px;
}