/* Chrome, Safari, Edge */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #E7F0FF;
}

::-webkit-scrollbar-thumb {
    /* background: orange; */
    background: linear-gradient(100deg,rgb(75, 181, 185) 0%, rgb(230, 181, 251) 100%);
    border-radius: 10px;
    /* border: 1px solid #121212; */
}


